
#userTable {
  border-collapse: collapse;
  margin-bottom: 50px;
  width: 60%; /* Adjust the width as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto; /* Enable horizontal scroll if needed */
  background-color: rgba(0, 0, 0, 0.478);
  padding: 20px;
  border: none;
}

#userTable td,
#userTable th {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  color: rgba(210, 210, 210, 0.8);
}

#userTable th{
  color: rgba(66, 63, 63, 0.8);
}

#userTable tr:first-child th {
  border-top: 0;
  background-color: rgba(235, 231, 231, 0.811);
}

#userTable tr:last-child td {
  border-bottom: 0;
}

#userTable tr td:first-child,
#userTable tr th:first-child {
  border-left: 0;
}

#userTable tr td:last-child,
#userTable tr th:last-child {
  border-right: 0;
}

#userTable tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.4);
}

#userTable tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}